@{
    ViewBag.Title = "About Epicureanville Reviews";
}
<h2>@ViewBag.Title</h2>

<br /><br />

<p>
    Epicureanville Reviews was founded in 1803 as <i>Epicureanville Gazette</i> -- an underground newsletter
    distributed to an exclusive, "members-only" community during an era beset by famine. Today, Epicureanville Reviews
    is a public, web-based community that all Epicureanville residents and visitors can benefit from!
</p>
