@{
    ViewBag.Title = "About Epicureanville Reviews";
}
<h2>@ViewBag.Title</h2>

<br /><br />

<p>
    Epicureanville Reviews is a free-to-use, web-based community that all Epicureanville residents and visitors can benefit from!
</p>
