@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Epicureanville Reviews</h1>
</div>

<h2>Welcome to Epicureanville Reviews!</h2>
<br /><br />
    <p>
        Epicureanville Reviews is the premier online restaurant review community for the wonderful city of Epicureanville!
    </p>
<br />